.DS_Store
cmake-build-debug/
CMakeLists.txt
.idea/
*.o
file.txt
test.cpp
a.out
megaphone
phonebook
braiiiiiiinnnzzzz
hi_this_is_brain
moar_brainz
hi_this_is_brain
unnecessary_violence
karen_2.0
karenFilter
my_first_orthodox_clas
towards_a_more_useful_fixed_point_class
now_we_re_talking
aaaaand..._open
serena,_my_love!
repetitive_work
now_its_weird!
polymorphism
i_dont_want_to_set_the_world_on_fire
abstract_class
interface_and_recap
bureaucrat
form_up_maggots
form_28B
home.txt
at_least_this_beats_coffee-making

