.DS_Store
cmake-build-debug/
CMakeLists.txt
.idea/
*.o
file.txt
test.cpp
a.out
megaphone
phonebook
braiiiiiiinnnzzzz
hi_this_is_brain
moar_brainz
hi_this_is_brain
unnecessary_violence
karen_2.0
karenFilter
my_first_orthodox_clas
towards_a_more_useful_fixed_point_class
now_we_re_talking
aaaaand..._open
serena,_my_love!
repetitive_work
